/* margin and padding */

$spaceamounts: (1, 2, 3, 4, 5, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100);

@each $space in $spaceamounts {
  .mar-#{$space} {
    margin: #{$space}rem;
  }

  .pad-#{$space} {
    padding: #{$space}rem;
  }
}

$spaceamounts: (1, 2, 3, 4, 5, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100);
$sides: (top, bottom, left, right);

@each $space in $spaceamounts {
  @each $side in $sides {
    .mar-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}rem;
    }
  
    .pad-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}rem;
    }
  }
}