/* space */
$sp-small: 0;
$sp-08: 0.125rem;
$sp-04: 0.25rem;
$sp-05: 0.5rem;
$sp-10: 1rem;
$sp-15: 1.5rem;
$sp-20: 2rem;
$sp-25: 2.5rem;
$sp-30: 3rem;
$sp-35: 3.5rem;
$sp-40: 4rem;
$sp-45: 4.5rem;
$sp-50: 5rem;
$sp-60: 6rem;
$sp-70: 7rem;
$sp-80: 8rem;
$sp-90: 9rem;
$sp-100: 10rem;
$sp-10p: 10%;
$sp-20p: 20%;
$sp-30p: 30%;
$sp-40p: 40%;
$sp-50p: 50%;
$sp-60p: 60%;
$sp-70p: 70%;
$sp-80p: 80%;
$sp-90p: 90%;
$sp-100p: 100%;