/* z-index */

$levelamounts: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 99, 999);

@each $level in $levelamounts {
  .z-#{$level} {
    z-index: #{$level};
  }
}

.z-max {
    z-index: 21474836470;
}

.z-inherit {
    z-index: inherit;
}

.z-unset {
    z-index: unset;
}